<div class="container">
  <%= render "layouts/search_post",  url: posts_path %>
  <div class="row mt-4">
    <div class="col-md-2 mx-auto">
      <%= render "layouts/tags", tags: @tags %>
    </div>
    <div class="col-md-8 mx-auto">
      <h3 class="border-bottom">SPOMATCH BLOG</h3>
      <p><%= link_to '新着', posts_path(latest: "true") %> | <%= link_to '古い順', posts_path(old: "true") %></p>
      <% @posts.each do |post| %>
        <table class="table table-sm table-borderless mt-3">
          <tr class="border-bottom">
            <td>
              <%= link_to post.title, post_path(post) %><br>
              <%= post.body.truncate(20) %>
            </td>
            <td class="text-right align-middle"><%= link_to (post.user) do %><%= image_tag post.user.get_profile_image(50,50), class:"card-image-top rounded-circle" %><% end %></td>
          </tr>
        </table>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>