<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-md-2 mx-auto">
      <%= render "layouts/tags", tags: @tags %>
    </div>
    <div class="col-md-6 mx-auto">
      <div class="mx-auto">
        <h4 class="border-bottom">新着投稿</h4>
        <div class="row mx-auto">
          <% @posts.each do |post| %>
            <table class="table table-sm table-borderless mt-3">
              <tr class="border-bottom">
                <td>
                  <%= link_to post.title, post_path(post) %><br>
                  <%= post.body.truncate(20) %>
                </td>
                <td class="text-right align-middle"><%= link_to (post.user) do %><%= image_tag post.user.get_profile_image(50,50), class:"card-image-top rounded-circle" %><% end %></td>
              </tr>
            </table>
          <% end %>
        </div>
        <%= link_to 'すべての投稿を見る', posts_path %>
      </div>
      <div class="mx-auto mt-5">
        <h4 class="border-bottom">新規グループ</h4>
        <div class="row mx-auto">
          <% @groups.each do |group| %>
            <table class="table table-sm table-borderless mt-3">
              <tr class="border-bottom">
                <td>
                  <%= link_to group.name, group_path(group) %><br>
                  <%= group.introduction.truncate(20) %>
                </td>
                <td class="text-right align-middle"><%= link_to (group) do %><%= image_tag group.get_group_image(50,50), class:"card-image-top rounded-circle" %><% end %></td>
              </tr>
            </table>
          <% end %>
        </div>
        <%= link_to 'グループの一覧を見る', groups_path %>
      </div>
    </div>
    <div class="col-md-2 mx-auto">
      <%= render "layouts/sports", sports: @sports %>
    </div>
  </div>
</div>