<%= form_with model: tag, url: admin_tags_path, method: :post, local: true do |f| %>
  <table class="table table-borderless mx-auto mt-3" style="width: 70%">
    <td class="align-middle text-center"><%= f.label :name, "タグ名", class:"mt-2" %></td>
    <td class="text-center"><%= f.text_field :name, class:"form-control" %></td>
    <% if f.object.new_record? %>
      <td class="text-center"><%= f.submit "新規登録", class:"btn btn-success px-4" %></td>
    <% else %>
      <td class="text-center"><%= f.submit "更新", class:"btn btn-info px-4" %></td>
    <% end %>
  </table>
<% end %>