<div class="container mb-5">
  <div class="errors"><%= render 'public/shared/error_messages', resource: @group_chat %></div>
  <div class="row mt-4">
    <div class="col-md-2 mt-4">
      <table class="table table-sm">
        <thead>
          <th class="text-center" colspan="2">メンバー</th>
        </thead>
        <tbody>
          <% @group.users.each do |user| %>
            <tr class="border-bottom">
              <td class="align-middle"><%= link_to user_path(user) do %><%= image_tag user.get_profile_image(50,50), class:"rounded-circle" %><% end %></td>
              <td class="align-middle"><%= user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-8 mx-auto">
      <div class="group-title mt-3"><%= @group.name %></div>
      <div id="group_chats">
        <div class="chat-body">
          <%= render 'chats', group_chats: @group_chats %>
        </div>
        <div class="chat-form">
          <%= form_with model: @group_chat ,url: group_group_chats_path, method: :post, local: false do |f| %>
            <div class="row mx-auto">
              <div class="col-md-11 p-0 chat-text">
                <%= f.text_field :content, placeholder: 'メッセージを入力してください', class:"form-control" %>
              </div>
              <div class="col-md-1 p-0 chat-btn">
                <%= f.submit '送信', class:"btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>