<div class="container mb-5">
  <div class="row mt-5">
    <dic class="col-md-12 col-lg-8 mx-auto">
      <h2 class="text-center">ユーザーの投稿一覧</h2>
      <%= render "layouts/search_post",  url: admin_posts_path %>
      <table class="table mt-3 border-bottom">
        <thead class="text-center">
          <tr>
            <th>ID</th>
            <th>ユーザーネーム</th>
            <th>タイトル</th>
            <th>本文</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <% @posts.each do |post| %>
            <tr>
              <td class="align-middle"><%= post.user.id %></td>
              <td class="align-middle"><%= link_to post.user.name, admin_user_path(post) %></td>
              <td class="align-middle"><%= link_to post.title, admin_post_path(post) %></td>
              <td><%= post.body.truncate(20) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @posts %>
    </dic>
  </div>
</div>