<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-md-8 mx-auto">
      <h3 class="text-center">コメント一覧</h3>
      <%= render "layouts/search_comment", url: admin_post_comments_path %>
      <table class="table mt-2 border-bottom">
        <thead>
          <tr>
            <th class="align-middle text-center">ユーザー</th>
            <th class="align-middle text-center">コメント</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @post_comments.each do |post_comment| %>
            <tr>
              <td class="align-middle"><%= image_tag post_comment.user.get_profile_image(40,40), class:"rounded-circle" %> <%= post_comment.user.name %></td>
              <td class="align-middle"><%= post_comment.comment %></td>
              <td class="align-middle"><%= link_to "詳細", admin_post_comment_path(post_comment), class:"btn btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="justify-content-center mt-3">
        <%= paginate @post_comments %>
      </div>
    </div>
  </div>
</div>