<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 mx-auto">
      <h5 class="text-center">会員情報詳細</h5>
      <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
        <table class="table mt-4 mx-auto" style="width: 70%;">
          <tr class="text-center">
            <th>ID</th>
            <th>ユーザーネーム</th>
            <th>Email</th>
            <th>会員ステータス</th>
            <th>ステータス変更</th>
          </tr>
          <tr class="text-center">
            <td><%= @user.id %></td>
            <td><%= @user.name %></td>
            <td><%= @user.email %></td>
            <td>
              <% if @user.is_deleted == false %>
                <label class="text-success">有効</label>
              <% else %>
                退会
              <% end %>
            </td>
            <td>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted_false, '有効' %>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted_true, '退会' %>
            </td>
          </tr>
        </table>
        <div class="text-center">
          <%= f.submit '保存', class:"btn btn-success px-5" %>
        </div>
      <% end %>
      <div class="mt-5">
        <h5 class="text-center">投稿一覧</h5>
        <% @posts.each do |post| %>
          <table class="table table-borderless mt-4 mx-auto" style="width: 60%;">
            <tbody>
              <tr class="border-bottom">
                <td>
                  <%= link_to post.title, admin_post_path(post) %><br>
                  <%= post.body.truncate(30) %>
                </td>
                <td class="text-right align-middle"><%= image_tag post.user.get_profile_image(50,50), class:"card-image-top rounded-circle" %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>