<% if favorites.any? %>
  <% favorites.each do |favorite| %>
    <article>
      <div class="favorite-profile">
        <%= link_to (favorite.user) do %><%= image_tag favorite.user.get_profile_image(20,20), class:"image-top rounded-circle" %><% end %>
      </div>
      <div class="post-content mt-2">
        <h3><%= link_to favorite.title, post_path(favorite) %></h3>
        <p><%= favorite.body.truncate(30) %></p>
      </div>
      <li class="favorite-status"><%= favorite.set_date %></li>
      <li class="favorite-status"><i class="fas fa-thumbs-up"></i> <%= favorite.favorites.count %> Likes</li>
      <li class="favorite-status"><i class="fas fa-comment-dots"></i> <%= favorite.post_comments.count%> comments</li>
    </article>
  <% end %>
<% else %>
  <h6 class="text-center m-5">いいねした投稿がまだありません</h6>
<% end %>