<div class="container mb-5">
  <div class="row">
    <div class="col-md-2 mt-5 mx-auto">
      <% if @user == current_user %>
      <!--条件分岐をしてcurrent_userだった場合は新規投稿などのアクションが行えるように-->
        <table class="table table-hover table-bordered align-middle">
          <tbody class="text-center text-dark">
            <tr>
              <td><%= link_to "新規投稿", new_post_path, class:"text-dark" %></td>
            </tr>
            <tr>
              <td><%= link_to "投稿一覧", posts_path, class:"text-dark" %></td>
            </tr>
            <tr>
              <td><%= link_to "新規グループ作成", new_group_path, class:"text-dark" %></td>
            </tr>
            <tr>
              <td><%= link_to "グループ一覧", groups_path, class:"text-dark" %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <%= render 'layouts/tags', tags: @tags %>
      <% end %>
    </div>
    <div class="col-md-8 mt-5 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 mx-auto"></div>
            <div class="col-md-4 mx-auto align-middle">
              <p class="text-center">
                <% unless @user.profile_image.attached? %>
                  <%= image_tag "no_image.png", class:"card-image-top rounded-circle", style:"width: 100px; height: 100px;" %>
                <% else %>
                  <%= image_tag @user.get_profile_image(100,100), class:"card-image-top rounded-circle" %>
                <% end %>
              </p>
            </div>
            <div class="col-md-2 m-auto p-0">
              <% if @user == current_user %>
                <p class="text-center mb-0"><%= link_to "編集", edit_user_path(@user), class:"btn btn-secondary px-3" %></p>
              <% end %>
            </div>
          </div>
          <h5 class="card-title text-center"><%= @user.name %></h5>
          <ul class="nav nav-tabs" id="profile-list" role="tablist">
            <li class="nav-item col-md-6 text-center p-0">
              <a class="nav-link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">投稿</a>
            </li>
            <li class="nav-item col-md-6 text-center p-0">
              <a class="nav-link" id="favorite-tab" data-toggle="tab" href="#favorite" role="tab" aria-controls="favorite" aria-selected="false">いいね</a>
            </li>
          </ul>
          <div class="tab-content border">
            <!--ユーザーの投稿を表示-->
            <div class="tab-pane active" id="post" role="tabpanel">
              <div class="post-body">
                <%= render 'post_tab', posts: @posts %>
              </div>
            </div>
            <!--ユーザーがいいねした投稿を表示-->
            <div class="tab-pane" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">
              <div class="favorite-body">
                <%= render 'favorite_tab', favorites: @favorites %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--スポーツのジャンルを表示-->
    <div class="col-md-2 mt-5 mx-auto">
      <%= render 'layouts/sports', sports: @sports %>
    </div>
  </div>
</div>
