<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5 mx-auto">
      <ul>
        <li><%= link_to "新規投稿", new_post_path %></li>
        <li><%= link_to "投稿一覧", posts_path %></li>
        <li><%= link_to "新規グループ作成", new_group_path %></li>
        <li><%= link_to "グループ一覧", groups_path %></li>
      </ul>
    </div>
    <div class="col-md-6 mt-5 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 mx-auto"></div>
            <div class="col-md-4 mx-auto">
              <p class="text-center">
                <% if @user.profile_image.attached? %>
                  <%= image_tag @user.get_profile_image(100,100) %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
              </p>
            </div>
            <div class="col-md-2 m-auto">
              <% if @user == current_user %>
                <p><%= link_to "編集", edit_user_path(@user), class:"btn btn-secondary" %></p>
              <% end %>
            </div>
          </div>
          <h5 class="card-title text-center"><%= @user.name %></h5>
          <ul class="nav nav-tabs" id="profile-list" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">投稿</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="favorite-tab" data-toggle="tab" href="#favorite" role="tab" aria-controls="favorite" aria-selected="false">いいね</a>
            </li>
          </ul>
          <div class="tab-content border">
            <div class="tab-pane active" id="post" role="tabpanel">
              <h6 class="my-5">タイトルが入ります</h6>
            </div>
            <div class="tab-pane" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">
              <h6 class="my-5">いいねした投稿が入ります</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 mt-5 mx-auto">
      <% @sports.each do |sport| %>
        <table>
          <td><%= link_to sport.name, "" %></td>
          <hr width="100%">
        </table>
      <% end %>
    </div>
  </div>
</div>
